POSTGRES_USER=
POSTGRES_PASSWORD=
RUNNER_PASSWORD=
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/users_db
GAME_DATABASE_URL=postgresql+asyncpg://sql_runner:${RUNNER_PASSWORD}@postgres:5432/game_db
QUEST_DATABASE_URL=postgresql+asyncpg://sql_runner:${RUNNER_PASSWORD}@postgres:5432/quest_db
SECRET_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
FRONTEND_URL=
BACKEND_URL=
PORT=80
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
